<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>404</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/semantic-ui@2.4.2/dist/semantic.min.css">

</head>
<body>
<!--导航-->
    <nav class="ui inverted  segment">
        <div class="ui container">
            <div class="ui inverted secondary stackable menu">
                <h2 class="ui teal header item">CUMT</h2>
                <h3 class="ui teal header item">在线答题系统</h3>
            </div>
        </div>
    </nav>
<div class=" ui container " style="height: 60%">
    <div class="ui error message m-padded-tb-massive">
        <div class="ui container">
            <h2>404</h2>
            <p>sorry,your page is not exist</p>
        </div>
    </div>
</div>

    <script src="https://cdn.jsdelivr.net/npm/jquery@3.2/dist/jquery.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/semantic-ui@2.4.2/dist/semantic.min.js"></script>
</body>
</html>